h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-family: sans-serif;
}

body {
    background-color: #FCF7FF;
}

.corel {
    font-size: 1.5em;
}

.py {
    font-size: 1.6em;
}

.photo {
    font-size: 1.7em;
}
ul {
    display: inline;
}

#foto-perfil {
    float: left;
    height: 200px;
    margin-right: 10px;
    border-radius: 100%;
}
.container-secundario {
    height: 200px;
    
}
section {
    border: 1px solid red;
}
