h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: sans-serif;
}

body {
    background-color: #FCF7FF;
}

.corel {
    font-size: 1.5em;
}

.py {
    font-size: 1.6em;
}

.photo {
    font-size: 1.7em;
}