header {
  height: 60px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.295);
}

#logo {
  font-size: 26px;
  font-weight: 600;
  color: #02B4A9;
}

.links {
  list-style: none;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(197, 197, 197);
  transition: 0.3s;
  cursor: pointer;
}

.links a:hover {
  color: #02B4A9;
}

#nav {
  display: flex;
  gap: 44px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.sanduba div {
  width: 32px;
  height: 3px;
  background: white;
  /* margin: 8px; */
  border-radius: 10px;
  transition: 0.3s;
}

.sanduba {
  user-select: none;
  cursor: pointer;
  display: none;
}

@media (max-width: 790px) {
  #nav {
    position: absolute;
    top: 7.2vh;
    right: 0;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid red; */
    gap: 100px;
    background-color: #222222;
    width: 75vw;
    height: 92vh;
    transform: translate(100%);
    transition: transform 0.3s ease-in;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.295);
  }

  #nav.active {
    transform: translateX(0);
  }

  #nav li {
    opacity: 0;
  }

  .sanduba {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  header {
    padding: 0 25px;
  }

  #logo {
    font-size: 20px;
  }
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sanduba.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.sanduba.active .line2 {
  opacity: 0;
}

.sanduba.active .line3 {
  transform: rotate(45deg) translate(-7px, -8px);
}