#sec-projects {
  padding: 80px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

#hed-projects {
  display: flex;
  gap: 12px;
}

#hed-projects {
  display: flex;
  gap: 12px;
}

#hed-projects img{
  width: 55px;
}

#sec-projects h2 {
  color: #02B4A9;
  font-size: 50px;
  font-weight: 700;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.project {
  width: 350px;
  color: white;
  padding-bottom: 10px;
}

.project h3 {
  /* margin-top: 15px; */
  color: #02B4A9;
  font-size: 20px;
  padding: 0 5px;
}

.project p {
  font-size: 15px;
  padding: 0 5px;
}

.img {
  /* height: 150px; */
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 16px;
  display: flex;
}

.capa {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  /* border: 3px solid #02B4A9; */
}

.git {
  margin-top: 10px;
  width: 50px;
  height: 30px;
  background-color: #02B4A9;
  color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

a {
  text-decoration: none;
}

.btn-project {
  display: flex;
  gap: 10px;
}

.info-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 5px 0; */
  margin-left: 10px;
}

.gitHub {
  width: 20px;
}

@media (max-width: 600px) {
  #hed-projects img{
    width: 38px;
  }
  
  #sec-projects h2 {
    font-size: 30px;
  }

  #sec-projects {
    width: 81.5%;
    /* height: max-content; */
    padding: 80px 23px;
  }
  #projects {
    grid-template-columns: 100%;
    gap: 10px;
    /* margin: 0 50px; */
  }

  .project {
    width: 100%;
  }

  .img {
    width: 100%;
    height: max-content;
  }

  .capa {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    border: 3px solid #02B4A9;
  }

  .project h3 {
    font-size: 17px;
    padding: 0 5px;
  }
  
  .project p {
    font-size: 11px;
    padding: 0 5px;
  }
}
  