#sec-projects {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

#hed-projects {
  display: flex;
  gap: 12px;
}

#hed-projects {
  display: flex;
  gap: 12px;
}

#hed-projects img{
  width: 55px;
}

#sec-projects h2 {
  color: #02B4A9;
  font-size: 50px;
  font-weight: 700;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.project {
  width: 350px;
  color: white;
  padding-bottom: 10px;
}

.project h3 {
  margin-top: 5px;
  color: #02B4A9;
  font-size: 25px;
  padding: 0 5px;
}

.project p {
  font-size: 19px;
  padding: 0 5px;
}

.img {
  height: 150px;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 16px;
}

@media (max-width: 600px) {
  #hed-projects img{
    width: 38px;
  }
  
  #sec-projects h2 {
    font-size: 30px;
  }

  #sec-projects {
    height: max-content;
    padding: 30px;
  }
  #projects {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .project {
    width: 160px;
  }

  .img {
    height: 100px;
  }

  .project h3 {
    font-size: 17px;
    padding: 0 5px;
  }
  
  .project p {
    font-size: 11px;
    padding: 0 5px;
  }
}
  