* {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1b1b1b;
  overflow-x: hidden;
}